.container{
    height: 100vh;

    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #000;
}
.button22{
    color: #fff;
    border: none;
    font-size: 1.3em;
    width: 150px;
    background-color: #1d1d1d;
    border-radius: 7px;
    padding: 15px 20px;

    cursor: pointer;
    transition: .3s;
}

.button22:hover{
    background-color: green;
}
.box-upload{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 2rem;
}
.btn99{
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.input99{
    display: none;
}
